.uneven {
  background-color: lightcoral;
  font-family: Verdana, "DejaVu Sans", "sans-serif";
}
#second {
  color: blue;
  font-size: 36px;
}
.special {
  font-size: 24px;
}
#forth {
  background-color: lightgreen;
  font-size: 24px;
  font-weight: bold;
}
